{% extends "auctions/layout.html" %}

{% block body %}
    <h1 style="font-family:poppins;">My Wishlist {{ message }}</h1>
    <ol>
        <div class="wishlist">
            {% for i in wl %}
            <li>
                <a href="{% url 'listing' i.id %}">{{ i.title }}</a>
                <form action="wishlistremove/{{ i.id }}" id="form1" method="post">
                    {% csrf_token %}
                    <button type="submit" form="form1" class="button">🗑️</button>
                </form>
            </li><hr>
            {% endfor %}
        </div>
    </ol>
    
{% endblock %}